@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

html {
  line-height: 1.8;
}
body {
  background: #e4e3d3;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 70px 0;
  background-image: url(https://images3.alphacoders.com/723/thumb-1920-72397.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#react-root {
  margin-left: 20%;
  margin-right: 20%;
}

.chatbar {
  //background: tomato;
  background: #0b3142;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  margin-left: 20%;
  margin-right: 20%;
  height: 60px;
  box-shadow: inset 0px -10px 25px black, 0px 5px 5px black;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.messages {
  margin-top: 8%;
}

.message {
  display: flex;
  padding: 0;
  // padding: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  background: white;
  box-shadow: inset 0px -10px 25px white, 0px 5px 5px black;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
  background: crimson;
  color: black;
  box-shadow: inset 0px -10px 25px crimson, 0px 5px 5px black;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
  flex-direction: column;
}

.message-username {
  flex: 2;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  display: flex;

  //
  box-shadow: inset 0px -10px 25px black, 0px 5px 5px black;
  padding-left: 0px;
  text-align: center;

  margin: 0px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #0b3142;
  margin-left: 20%;
  margin-right: 20%;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  color: white;
  height: 70px;
  box-shadow: inset 0px -10px 25px black, 0px 5px 5px black;
}

.navbar-img {
  height: 45px;
  padding-top: 15px;
  width: 90px;
  content: url("https://cdn.freebiesupply.com/logos/large/2x/batman-5-logo-png-transparent.png");
}
.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 5px 10px;
  text-decoration: none;
}

.users {
  float: right;
  font-weight: bold;
  padding-top: 7px;
}
